body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-navbar {
  font-family: $font-family-heading;
  margin-bottom: 2rem;

  .navbar-brand {
    font-weight: 700;
  }
}
