
$darkPrimaryColor:   #000070;
$primaryColor:       #4527a0;
$lightPrimaryColor:  #d3c0ff;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #ff6d00;
$primaryTextColor:   #111111;
$secondaryTextColor: #888888;
$dividerColor:       #ff9e40;