
$primary:       $primaryColor !default;
$secondary:     $darkPrimaryColor !default;
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary
  ),
  $theme-colors
);

$font-family-sans-serif: 'Roboto Condensed', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-heading: 'Sora', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default;

$font-weight-lighter: 300 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 300 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 700 !default;

$line-height-base: 1.6 !default;

$headings-font-family: $font-family-heading !default;

$btn-font-family: $headings-font-family;
